@media screen and (min-width: 320px) {
 #HeadAdress{float:left;padding:15px 30px;}
 #HeadAdress li span{font-weight: normal;}
 #IndexBody{width:100%}
 #IndexHead{width:100%;padding:0;}
 #HeadName{width:100%;padding:0;height:100px;}
 #HeadName p {font-size:26px;padding-bottom:7px;}   
 #IndexFooter{width:96%;padding:10px 2%;}
 #IndexHeadLogo{display:flex;align-items:center;justify-content:center;height: auto;width:100%;}
 #IndexHeadLogo img{max-width:150px;}
    
}