
@import url("/style/reset.css");
body {background:#313131; margin:0;padding:0;color:#727373;height:100%;}
body, table, tr, td {font-family:Montserrat Alternates,Verdana,Tahoma;font-size:14px;font-style:normal;}
hr {border:none;margin:5px 0;}
p {line-height: 1.5;}

a{text-decoration:none;}
a:link{color:#296C4B;}
a:visited{color:##f64747;}

::-webkit-scrollbar-button{width:3px;height:0px} ::-webkit-scrollbar-track {background-color:#F6F9FC} ::-webkit-scrollbar-thumb {-webkit-border-radius: 0px;border-radius: 0px;background-color:#4E566B;} ::-webkit-scrollbar-thumb:hover{background-color:#56999f;} ::-webkit-resizer{width:4px;height:0px} ::-webkit-scrollbar{width: 6px;}

#IndexBody{margin:0 auto 0;background:#1A1A1A;max-width:1544px;width:100%;height:100%;min-height:1000px;border:1px solid #1f372b;border-top:0;border-bottom:0;}
#IndexHead{max-width:1300px;width:100%;height:213px;padding:60px 130px 0 130px;}
#IndexHeadLogo{width:252px;height:176px;background:#1E362A;float:left;}
#IndexHeadLogo img{width:100%;height:auto;}
#IndexHeadLogo:hover{background:#276B4B;}

#HeadName{float:left;display:flex;align-items:center;justify-content:center;height: 176px;width:50%;}
#HeadNameLogo p {color:#c6c6c6;font-size:33px;padding-bottom:22px;border-bottom:1px solid #727373;}
#HeadNameJob{text-align:center;padding-top:15px;}
#HeadNameJob span {font-size:15px;}

#HeadAdress{float:right;padding-top:40px;}
#HeadAdress li {list-style: none;font-size:15px;}
#HeadAdress li span {color:#296c4b;font-size:17px;font-weight: bold;}

@media screen and (max-width: 840px) {
  #HeadAdress{float:left;}
  #IndexBody{width:100%}
  #IndexHead{width:96%;padding:10px 2%;}
}


